.name {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

input[type="text"],
input[type="tel"] {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span.error {
    color: red;
    font-size: 0.8em;
}

.button {
    background-color: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #005f6b;
}